html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.active {
  color: #fafafa;
}

.active-icon {
  color: skyblue !important;
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-left: 1em;
}

/* Icon hover pseudo-classes */
.sidebar-items:hover p {
  color: #fafafa;
}

.sidebar-items:hover svg {
  color: skyblue;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1.5em;
}